HomeAndUserClient/HomeAndUserClient/Connected Services/ServiceReference2/HomeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HomeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/HomeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/HomeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/HomeService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8000/HomeService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HomeAndUserLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHomeService2_GetHouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouses" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_GetHouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousesResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_getHome_InputMessage">
    <wsdl:part name="parameters" element="tns:getHome" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_getHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_getHomeWithID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHomeWithID" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_getHomeWithID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHomeWithIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_RemoveHome_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHome" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_RemoveHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_AddHome_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHome" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_AddHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_UpdateHome_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHome" />
  </wsdl:message>
  <wsdl:message name="IHomeService2_UpdateHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHomeResponse" />
  </wsdl:message>
  <wsdl:portType name="IHomeService2">
    <wsdl:operation name="GetHouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/GetHouses" message="tns:IHomeService2_GetHouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/GetHousesResponse" message="tns:IHomeService2_GetHouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/getHome" message="tns:IHomeService2_getHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/getHomeResponse" message="tns:IHomeService2_getHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHomeWithID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/getHomeWithID" message="tns:IHomeService2_getHomeWithID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/getHomeWithIDResponse" message="tns:IHomeService2_getHomeWithID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/RemoveHome" message="tns:IHomeService2_RemoveHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/RemoveHomeResponse" message="tns:IHomeService2_RemoveHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/AddHome" message="tns:IHomeService2_AddHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/AddHomeResponse" message="tns:IHomeService2_AddHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService2/UpdateHome" message="tns:IHomeService2_UpdateHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService2/UpdateHomeResponse" message="tns:IHomeService2_UpdateHome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHomeService2" type="tns:IHomeService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHouses">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/GetHouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHome">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/getHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHomeWithID">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/getHomeWithID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveHome">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/RemoveHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHome">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/AddHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHome">
      <soap:operation soapAction="http://tempuri.org/IHomeService2/UpdateHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeService">
    <wsdl:port name="BasicHttpBinding_IHomeService2" binding="tns:BasicHttpBinding_IHomeService2">
      <soap:address location="http://localhost:8000/HomeService/HomeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>